ion-content button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.style5405 { 
  background-color: rgb(255, 128, 128);
}

.cor1 { 
  background-color: rgb(255, 128, 128);
}

.style9589 { 
  background-color: rgb(255, 128, 128);
}
